body{
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 50px 135px;
}

.head-work{
    display: flex;
}

nav ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
    color:#424247;
text-align: center;
font-size: 18px;
font-weight: 400;
}
.head-1{
    color: #131318;
font-size: 36px;
font-weight: 800;
margin-left: 20px;
}
.head-2{
color: #FF5400;
font-size: 36px;
font-weight: 800;
margin-left: 20px;
}
.header-contain{
    background: linear-gradient(80deg, #070211 0%, rgba(7,2,17,0)100%), url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center; background-size: cover;
     justify-content: center; border: 0;
    border-radius: 15px; margin: 10px 140px;

}
.header-title{
    color: #FFF;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    padding-top: 106px;
}
.header-discr{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
justify-content: center;
margin-left: 247px; margin-right: 247px; margin-top: 24px;
}
.header-details{
    text-align: center;
    padding-bottom: 106px;
    margin: 64px;

}
.header-details input{
    width: 174px; height: 52px; border-radius: 8px; margin-right: 24px;
}
.header-details select{  width: 174px; height: 52px; border-radius: 8px; margin-right: 24px;

}
.but{
    width: 174px;
height: 52px;
border-radius: 8px;
background: #FF5400;
color: #FFF; cursor: pointer;
border: 0;
}

.middle{
    display: flex;
   justify-content: space-between;
   margin: 0 135px;
   gap: 53px;
}
.midle-head{
    color: #131318;
font-size: 40px;
font-weight: 800;
}
.middle-disc-1{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
 margin-top: 24px; margin-bottom: 24px;
}
.middle-disc-2{
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    margin-top: 24px;
    line-height: 26px;
}




ul li{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.discusson{
    text-align: center;
    margin-top: 100px;
}

.row { width: 100%;
    height: auto;
 margin-top: 45px;
 display: grid;
 grid-template-columns: repeat(auto-fit);
 gap: 10px; 
 margin-left: 135px;
}
.row .yes{
    margin-right: 24px; 
    margin-bottom: 24px;
    object-fit: cover;
}
.row .no{
  margin-bottom: 24px;
  object-fit: cover;
}
.hotel-contain{
    display: flex; gap: 24px;
    margin-top: 48px;
    margin-left: 24px;
}
.hotel-detail{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
padding: 32px;
}
.location-detail{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
padding: 32px;
}
.discount-detail{
    border-radius: 16px;
border: 1px solid rgba(233, 68, 68, 0.20);
background: rgba(233, 68, 68, 0.05); margin-top: 24px;
padding: 32px;
margin-left: 400px; margin-right: 400px;
width: 573px;
height: 284px;
}
.hotel-head{
    color: #131318;
font-size: 24px;
font-weight: 800;

}
.deals{
    text-align: center;
    margin-top: 100px;
}
.tonmoy{
    display: flex;
    gap: 24px;
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 110px;
}
.Newsletter-1{
    border: 1px solid #FF5400;
    border-radius: 16px;
    width: 474px;
height: 422px;
padding: 35px;
}
.Newsletter-1 input{
    width: 393px;
height: 52px;
border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
border: 0;
}
.Newsletter-1 .Newsletter-2{
    background-color: #FF5400; 
    color: #FFF;
}
.Newsletter-1 hr{
    width: 393px; height: 1px;
}
.mammaaa{
    background-image: url('Images/Rectangle\ 8\ \(1\).png'); background-repeat: no-repeat; background-size: cover;
    width: 100%; 
}
.lt{
    background-color: #FF5400;
    width: 324px;
height: 120px;
transform: rotate(-19.628deg);
border-radius: 16px;
color: #FFF; text-align: center;
padding-top: 5px;
margin-left: 360px; margin-top: 318px;
}
.lt p{ 
    font-size: 24px;
    font-weight: 400;
}
.lt h4{ 
font-size: 20px;
font-weight: 800;
}
.footer{
    background: rgba(19, 19, 24, 0.05);
     margin-top: 100px;
    background-size: auto; text-align: center;
    box-sizing: border-box;
    height: auto; width: 100%;

   
}
.footer-contain{
    
    padding-top: 100px;
    text-align: center;
}
.footer-option{
    text-align: center;
}
.footer-option a {
 margin-right: 10px;
}
.footer-option p{
    padding-left: 335px;
    padding-right: 335px;
}
hr{
    width: 872px;
height: 1px;
}
.copy{
    text-align: center;
    padding-bottom: 110px;
    margin-top: 50px;
}
.ancor{
   padding-top: 30px;
   padding-bottom: 100px;
}


@media screen and (max-width:600px){
   header{
    flex-direction: column;
    padding: 20px;
   }
   nav ul{
    flex-direction: column; padding-left: 20px;
   }
   .header-contain{
    min-height: 30vh;
    margin: 0;
   }
   .header-discr{
 margin: 10px;
   }
   .header-details, input , select{
    margin-bottom: 10px; justify-content: center; 
   }
   .but{
    justify-content: center;
    padding-right: 20px;
   }
   .middle{
    flex-direction: column;
   margin:0 10px;
   gap: 10px;
}
.row { 
 margin-top: 45px;
 margin:0  10px;
 display: flex;
 flex-direction: column;
}
.row img{
    width: 95% ;
    padding: 0.2rem;
}
.hotel-contain{
    flex-direction: column;
    margin: 20px 0px;
}
.discount-detail{
    width: auto;
height: auto;
margin: 25px 0;
}
.deals{
    text-align: center;
    margin-top: 50px;
}
.midle-head{
font-size: 25px;
}
.tonmoy{
    flex-direction: column;
    margin: 0;
   
}
.Newsletter-1{
    height: auto;
    width: auto;
}
.Newsletter-1 input{
    width: 288px;
height: 52px;
}
.Newsletter-1 hr{
    width: 288px;
}
}
.mammaaa .lt{
    margin-left:150px;
    margin-bottom: 50px;
   width: 214.023px;
height: 79.268px;

}
footer {
    text-align: center;
    width: 100%;
}
.footer .middle-disc-1{
    padding: 0;
}
.footer .head-work{
    justify-content: center;
    font-size: 30px;
}
 hr{
    width: 200px;
}
}